# Data
data/
.csv

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/

# Image files, existing ones will still be in commit history
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp

# Model files
.rds
.txt

# ipynb checkpoints
.ipynb_checkpoints/